In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction import DictVectorizer

In [2]:
dir_loc = 'C:\\Users\\nchandra\\Documents\\Project\\TMUD\\input\\'

print("Read datasets...")
train = pd.read_csv(dir_loc + "gender_age_train.csv", dtype = {"device_id": np.str, "age": np.int8})
test = pd.read_csv(dir_loc +  "gender_age_test.csv", dtype = {"device_id": np.str, "age": np.int8})
events = pd.read_csv(dir_loc + "events.csv", dtype = {"device_id": np.str})
brands = pd.read_csv(dir_loc + "phone_brand_device_model.csv", dtype = {"device_id": np.str}, encoding = "UTF-8")
app_events = pd.read_csv(dir_loc + "app_events.csv")
app_labels = pd.read_csv(dir_loc+ "app_labels.csv", dtype = {"device_id": np.str}, encoding = "UTF-8")
label_categories = pd.read_csv(dir_loc + "label_categories_v2.csv")
print("Done with datasets...")

Read datasets...
Done with datasets...

In [3]:
train.head()

              device_id gender  age   group
0  -8076087639492063270      M   35  M32-38
1  -2897161552818060146      M   35  M32-38
2  -8260683887967679142      M   35  M32-38
3  -4938849341048082022      M   30  M29-31
4    245133531816851882      M   30  M29-31

In [4]:
test.head()

              device_id
0   1002079943728939269
1  -1547860181818787117
2   7374582448058474277
3  -6220210354783429585
4  -5893464122623104785

In [5]:
label_categories.head()

   label_id           category  game
0         1                NaN   NaN
1         2     game-game type   1.0
2         3   game-Game themes   1.0
3         4     game-Art Style   1.0
4         5  game-Leisure time   1.0

In [6]:
app_labels.head()

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

In [7]:
len(events.device_id.unique())

60865

In [8]:
len(train.device_id.unique())

74645

In [9]:
len(label_categories.category.unique())

836

In [32]:
events.head()

   event_id             device_id            timestamp  longitude  latitude
0         1     29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2  -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3  -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4  -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5  -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

In [21]:
event_count = pd.DataFrame({'count' : events.groupby(["device_id"])['event_id'].count()}).reset_index()

In [ ]:
event_count = pd.DataFrame({'is_active_count' : events.groupby(["device_id"])['event_id'].count()}).reset_index()

In [31]:
event_count.head()

              device_id  count
0   -100015673884079572     50
1  -1000458529741848912      1
2  -1000667340060427374    203
3   -100098646088222553      4
4   -100101996136889832     14

In [23]:
t = train.merge(event_count, how='left', on='device_id')

In [30]:
t.head()

              device_id gender  age   group  count
0  -8076087639492063270      M   35  M32-38    0.0
1  -2897161552818060146      M   35  M32-38    0.0
2  -8260683887967679142      M   35  M32-38    1.0
3  -4938849341048082022      M   30  M29-31    0.0
4    245133531816851882      M   30  M29-31    0.0

In [29]:
t['count'].fillna(0.0, inplace=True)

In [30]:
label_categories.drop(['game'], inplace=True, axis=1)

In [33]:
app_label_cat = app_labels.merge(label_categories, how='left', on='label_id')

In [40]:
app_events_label_cat = app_events.merge(app_label_cat, how='left', on='app_id')

In [41]:
app_events.shape

(32473067, 4)

In [42]:
app_events_label_cat.shape

(209355710, 6)

In [43]:
app_events_label_cat.head()

,event_id,app_id,is_installed,is_active,label_id,category
0,2,5927333115845830913,1,1,549,Property Industry 1.0
1,2,5927333115845830913,1,1,710,Relatives 1
2,2,5927333115845830913,1,1,704,Property Industry 2.0
3,2,5927333115845830913,1,1,548,Industry tag
4,2,5927333115845830913,1,1,172,IM

In [45]:
app_events_label_cat.groupby('events')

MemoryError:

In [9]:
self = train.merge(brands[['device_id', 'phone_brand','device_model']], how='left',on='device_id')

In [12]:
self = test.merge(brands[['device_id', 'phone_brand','device_model']], how='left',on='device_id')

In [11]:
train.shape

(74645, 4)

In [13]:
test.shape

(112071, 1)

In [14]:
self.shape

(112406, 3)

In [25]:
brands.device_id.unique

<bound method Series.unique of 0         -8890648629457979026
1          1277779817574759137
2          5137427614288105724
3          3669464369358936369
4         -5019277647504317457
5          3238009352149731868
6         -3883532755183027260
7         -2972199645857147708
8         -5827952925479472594
9         -8262508968076336275
10         5840378295166286440
11        -5776341595519925628
12         3437705102632680210
13        -3568334676360016285
14          556978549708484782
15         5694497738268412307
16         6327116114284382479
17          773248989809697210
18         -686020914357018824
19         6936613487637228956
20        -3875043166283300758
21        -6964140211214884922
22          -30236203766311351
23         4887985552773989409
24         7206202610070842107
25          -39620037751344714
26         7223189369472462826
27        -3998002640294516352
28         2527845705328727233
29        -3157952721100703520
                  ...
187215     5227968728585496675
187216     7793779831192048252
187217     -744475600656645305
187218     3608110452636220010
187219    -8618225365386360981
187220     2275764314427946733
187221    -2334418817028672523
187222    -4449937638303316446
187223     1565799471880375963
187224     7345944586031224659
187225    -8541422542047946093
187226    -4980799589632292473
187227    -4982005935723339332
187228    -2200024706981051998
187229     4088225607463878385
187230     4533938230389516114
187231     2991768363764912164
187232    -8903406387941280700
187233    -6424608528529231693
187234    -2998819981424937912
187235     2397799423340611378
187236     2639235301715597247
187237     3884484562161888663
187238    -6564340457392363163
187239     3210973037848940984
187240     7979541072208733273
187241     -187404680852357705
187242    -2718274279595622821
187243     3098391762071677791
187244     7540390258631417003
Name: device_id, dtype: object>

In [14]:
app_labels = pd.merge(app_labels, label_categories, how='left', on='label_id')
app_labels = app_labels.drop(['category'], axis=1)

In [20]:
app_events = pd.merge(app_events, app_labels, how='left', on='app_id')

In [21]:
app_events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209355710 entries, 0 to 209355709
Data columns (total 6 columns):
event_id        int64
app_id          int64
is_installed    int64
is_active       int64
label_id        int64
game            float64
dtypes: float64(1), int64(5)
memory usage: 10.9 GB

In [22]:
app_events['appcounts'] = app_events[['event_id','app_id']].groupby(['event_id'])['app_id'].transform('count')
app_events['appcounts_isinst'] = app_events[['event_id','app_id','is_installed']][app_events.is_installed==1].groupby(['event_id'])['app_id'].transform('count')
app_events['appcounts_isactv'] = app_events[['event_id','app_id','is_active']][app_events.is_active==1].groupby(['event_id'])['app_id'].transform('count')
app_events['appcounts_isgame'] = app_events[['event_id','app_id','game']][app_events.game==1].groupby(['event_id'])['app_id'].transform('count')

In [23]:
app_events.head()

,event_id,app_id,is_installed,is_active,label_id,game,appcounts,appcounts_isinst,appcounts_isactv,appcounts_isgame
0,2,5927333115845830913,1,1,549,NaN,144,144,52.0,NaN
1,2,5927333115845830913,1,1,710,NaN,144,144,52.0,NaN
2,2,5927333115845830913,1,1,704,NaN,144,144,52.0,NaN
3,2,5927333115845830913,1,1,548,NaN,144,144,52.0,NaN
4,2,5927333115845830913,1,1,172,NaN,144,144,52.0,NaN

In [50]:
app_events[app_events.appcounts==2399].head()

In [27]:
app_events_isinst = app_events[['event_id', 'appcounts_isinst']].drop_duplicates('event_id', keep='first')

In [28]:
app_events_isinst.head()

     event_id  appcounts_isinst
0           2               144
144         6               222
366         7               368
734         9               262
996        16               211

In [48]:
events[events.event_id==16]

    event_id            device_id            timestamp  longitude  latitude
15        16  9070651185984875886  2016-05-01 00:06:06        0.0       0.0

In [49]:
test[test.device_id=='9070651185984875886']

                 device_id
76410  9070651185984875886

In [59]:
app_events = app_events.drop(['is_installed','is_active','game','appcounts','appcounts_isinst','appcounts_isactv','appcounts_isgame'], axis=1)

In [ ]:
app_events.head

In [ ]:
app_events.head()

In [61]:
app_events.label_id = app_events.label_id.astype('str')

In [62]:
app_events = encode_onehot(app_events, cols=['label_id'])

NameError: name 'encode_onehot' is not defined

In [ ]:
from sklearn.preprocessing import OneHotEncoding

In [12]:
train.device_id.unique().shape

(74645L,)

In [13]:
train.shape

(74645, 4)

In [39]:
app_events.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [56]:
app_labels.head()

                app_id  label_id         category  game
0  7324884708820027918       251          Finance   NaN
1 -4494216993218550286       251          Finance   NaN
2  6058196446775239644       406          unknown   NaN
3  6058196446775239644       407  DS_P2P net loan   NaN
4  8694625920731541625       406          unknown   NaN

In [38]:
app_labels.label_id = app_labels.label_id.astype('str')

In [40]:
label_categories.head()

   label_id           category  game
0         1                NaN   NaN
1         2     game-game type   1.0
2         3   game-Game themes   1.0
3         4     game-Art Style   1.0
4         5  game-Leisure time   1.0

In [42]:
app_labels = pd.merge(app_labels, label_categories, how='left', on='label_id')

In [64]:
app_labels = app_labels.drop(['category'], axis=1)

In [66]:
app_labels.head()

                app_id  label_id  game
0  7324884708820027918       251   NaN
1 -4494216993218550286       251   NaN
2  6058196446775239644       406   NaN
3  6058196446775239644       407   NaN
4  8694625920731541625       406   NaN

In [67]:
app_events = pd.merge(app_events, app_labels, how='left', on='app_id')

In [69]:
app_events.head()

   event_id               app_id  is_installed  is_active  label_id  game
0         2  5927333115845830913             1          1       549   NaN
1         2  5927333115845830913             1          1       710   NaN
2         2  5927333115845830913             1          1       704   NaN
3         2  5927333115845830913             1          1       548   NaN
4         2  5927333115845830913             1          1       172   NaN

In [39]:
def encode_onehot(df, cols):
    """
    One-hot encoding is applied to columns specified in a pandas DataFrame.
    
    Modified from: https://gist.github.com/kljensen/5452382
    
    Details:
    
    http://en.wikipedia.org/wiki/One-hot
    http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html
    
    @param df pandas DataFrame
    @param cols a list of columns to encode
    @return a DataFrame with one-hot encoding
    """
    vec = DictVectorizer()
    
    vec_data = pd.DataFrame(vec.fit_transform(df[cols].to_dict(orient='records')).toarray())
    vec_data.columns = vec.get_feature_names()
    vec_data.index = df.index
    
    df = df.drop(cols, axis=1)
    df = df.join(vec_data)
    return df

In [40]:
df = encode_onehot(app_labels, cols=['label_id'])

In [41]:
print df.head()

                app_id  label_id=10  label_id=100  label_id=1000  \
0  7324884708820027918          0.0           0.0            0.0
1 -4494216993218550286          0.0           0.0            0.0
2  6058196446775239644          0.0           0.0            0.0
3  6058196446775239644          0.0           0.0            0.0
4  8694625920731541625          0.0           0.0            0.0

   label_id=1001  label_id=1002  label_id=1003  label_id=1005  label_id=1006  \
0            0.0            0.0            0.0            0.0            0.0
1            0.0            0.0            0.0            0.0            0.0
2            0.0            0.0            0.0            0.0            0.0
3            0.0            0.0            0.0            0.0            0.0
4            0.0            0.0            0.0            0.0            0.0

   label_id=1007      ...       label_id=990  label_id=991  label_id=992  \
0            0.0      ...                0.0           0.0           0.0
1            0.0      ...                0.0           0.0           0.0
2            0.0      ...                0.0           0.0           0.0
3            0.0      ...                0.0           0.0           0.0
4            0.0      ...                0.0           0.0           0.0

   label_id=993  label_id=994  label_id=995  label_id=996  label_id=997  \
0           0.0           0.0           0.0           0.0           0.0
1           0.0           0.0           0.0           0.0           0.0
2           0.0           0.0           0.0           0.0           0.0
3           0.0           0.0           0.0           0.0           0.0
4           0.0           0.0           0.0           0.0           0.0

   label_id=998  label_id=999
0           0.0           0.0
1           0.0           0.0
2           0.0           0.0
3           0.0           0.0
4           0.0           0.0

[5 rows x 508 columns]

In [3]:
kk = pd.merge(app_events, app_labels, how='left', on='app_id')

In [4]:
kk.head()

   event_id               app_id  is_installed  is_active  label_id
0         2  5927333115845830913             1          1       549
1         2  5927333115845830913             1          1       710
2         2  5927333115845830913             1          1       704
3         2  5927333115845830913             1          1       548
4         2  5927333115845830913             1          1       172

In [7]:
kk[kk.is_installed==1].groupby(['is_installed'])

In [24]:
kk[['is_installed', 'label_id', 'app_id']].head().groupby('label_id')['app_id'].count()

label_id
172    1
548    1
549    1
704    1
710    1
Name: app_id, dtype: int64

In [50]:
df = encode_onehot(label_categories, cols=['category'])

In [52]:
print df.head()

   label_id  category  category=1 free  category=1 reputation  \
0         1       NaN              0.0                    0.0
1         2       0.0              0.0                    0.0
2         3       0.0              0.0                    0.0
3         4       0.0              0.0                    0.0
4         5       0.0              0.0                    0.0

   category=1 vitality  category=2G  category=3 inches and below  \
0                  0.0          0.0                          0.0
1                  0.0          0.0                          0.0
2                  0.0          0.0                          0.0
3                  0.0          0.0                          0.0
4                  0.0          0.0                          0.0

   category=3 kindom game  category=3G  category=4.5-3.1 inches  \
0                     0.0          0.0                      0.0
1                     0.0          0.0                      0.0
2                     0.0          0.0                      0.0
3                     0.0          0.0                      0.0
4                     0.0          0.0                      0.0

           ...            category=unknown  category=video  \
0          ...                         0.0             0.0
1          ...                         0.0             0.0
2          ...                         0.0             0.0
3          ...                         0.0             0.0
4          ...                         0.0             0.0

   category=violence comic  category=vitality  category=wallet  \
0                      0.0                0.0              0.0
1                      0.0                0.0              0.0
2                      0.0                0.0              0.0
3                      0.0                0.0              0.0
4                      0.0                0.0              0.0

   category=war chess  category=weibo  category=wig  category=work  \
0                 0.0             0.0           0.0            0.0
1                 0.0             0.0           0.0            0.0
2                 0.0             0.0           0.0            0.0
3                 0.0             0.0           0.0            0.0
4                 0.0             0.0           0.0            0.0

   category=zombies game
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0

[5 rows x 837 columns]

In [53]:
df.shape

(930, 837)

In [40]:
label_categories.head()

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

In [44]:
k = LabelEncoder().fit(app_labels.label_id)

In [45]:
k.classes_

array([   2,    4,    5,    6,    7,    8,    9,   10,   11,   12,   13,
         14,   16,   17,   18,   19,   20,   21,   22,   23,   24,   25,
         26,   27,   29,   30,   31,   32,   33,   35,   36,   37,   38,
         39,   40,   41,   42,   43,   44,   45,   46,   47,   48,   49,
         50,   51,   52,   53,   54,   55,   56,   57,   58,   59,   60,
         61,   62,   63,   64,   65,   66,   67,   68,   69,   70,   71,
         72,   73,   74,   75,   76,   77,   78,   79,   80,   81,   82,
         83,   84,   85,   86,   87,   88,   89,   90,   91,   92,   93,
         94,   95,   96,   97,   98,   99,  100,  101,  102,  103,  104,
        105,  128,  129,  130,  131,  132,  134,  135,  136,  137,  138,
        139,  140,  141,  142,  144,  146,  147,  148,  149,  150,  151,
        152,  153,  154,  155,  156,  157,  158,  159,  160,  161,  162,
        163,  164,  166,  167,  168,  169,  170,  172,  173,  174,  175,
        177,  178,  179,  180,  181,  183,  184,  185,  186,  187,  188,
        189,  190,  191,  192,  193,  194,  195,  197,  198,  199,  200,
        201,  203,  204,  205,  206,  207,  209,  210,  211,  212,  213,
        214,  215,  216,  217,  218,  219,  220,  221,  222,  223,  224,
        225,  226,  227,  229,  230,  231,  232,  233,  234,  235,  236,
        237,  238,  240,  241,  242,  244,  245,  246,  247,  249,  250,
        251,  252,  253,  254,  255,  256,  257,  258,  259,  260,  261,
        262,  263,  265,  266,  267,  268,  269,  270,  271,  272,  273,
        274,  275,  276,  277,  279,  280,  281,  282,  283,  284,  302,
        303,  306,  316,  317,  318,  326,  405,  406,  407,  548,  549,
        551,  552,  553,  555,  558,  559,  562,  563,  564,  565,  566,
        568,  688,  689,  690,  691,  692,  694,  695,  696,  704,  705,
        706,  707,  708,  709,  710,  711,  712,  713,  714,  715,  716,
        717,  718,  719,  720,  721,  722,  723,  724,  730,  731,  732,
        734,  735,  736,  737,  738,  740,  744,  747,  748,  749,  751,
        752,  755,  756,  757,  758,  759,  760,  761,  762,  763,  765,
        770,  771,  772,  773,  774,  775,  776,  777,  778,  779,  780,
        781,  782,  783,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  800,  801,  802,  803,  804,
        805,  806,  807,  808,  809,  810,  811,  812,  813,  814,  815,
        816,  817,  818,  819,  820,  821,  822,  823,  824,  825,  826,
        827,  828,  829,  839,  840,  841,  842,  843,  844,  845,  846,
        847,  854,  855,  856,  857,  858,  859,  860,  861,  862,  863,
        864,  865,  866,  867,  868,  869,  870,  871,  872,  873,  874,
        909,  910,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  968,  969,  970,  971,  972,  973,  974,  975,
        976,  977,  978,  979,  980,  981,  982,  983,  984,  985,  986,
        987,  988,  989,  990,  991,  992,  993,  994,  995,  996,  997,
        998,  999, 1000, 1001, 1002, 1003, 1005, 1006, 1007, 1008, 1009,
       1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020,
       1021], dtype=int64)